Files that are not inside the Content Folder should not be served upon request under any circumstances

**As a** server operator
**I need** to know that files that aren't meant to be served won't be
**So that** the server is harder to attack

### Details and Assumptions
* Files should only be served upon request if they are inside the Content Folder.
* Files inside the Errors Folder should only be served if the corresponding error occurs. (Test cases for this will be added to the issues for functionality that could lead to the errors.)
* Files anywhere else should never be served at all.
* If the server receives a request whose path maps to something outside the Content Folder -- including to something inside the Errors Folder -- it should return a 404 response. (For security reasons, the server will not use a 403 response. Also, because of other checks, the server may end up sending a 400 response instead.)
* The Go package I want to use does some sanitation checks for me automatically, but some of the checks that I will have to do myself will have to be in the middle of those checks, meaning I will have to do those myself too.
* Before trying to find the file corresponding to a request path, that path should be normalized using the rules in section 4.2.3 of RFC 9110 and the sections of RFC 3986 which that section links to. The Go package may do this for me, but I’m not sure.
* See if "os.Root" and "os.OpenInRoot" in Go would help as they may allow me to keep things contained in the Content Folder. (NOTE: These don't prevent using mount points to escape that folder because the Go team didn't think that was a big enough issue.)

### Acceptance Criteria
```gherkin
Given the Content Folder exists
And it contains a file called "test.html"
When I send a request to the server with the path "/test.html"
Then the response body should contain the contents of the "test.html" file

Given the Content Folder exists
And it contains a folder called "testfolder", which contains a file called "test.html"
When I send a request to the server with the path "/testfolder/test.html"
Then the response body should contain the contents of the "test.html" file

Given the Errors Folder exists
And it contains a file called "errtest.html"
When I send a request to the server with a path that should resolve to that file
Then the response body should not contain the contents of that file
And the status code should be 404 or 400

Given the Content Folder exists
And it has a sibling file called "test.html"
When I send a request to the server with a path that should resolve to that file
Then the response body should not contain the contents of that file
And the status code should be 404 or 400

Given the Content Folder exists
And its parent has a sibling file called "test.html"
When I send a request to the server with a path that should resolve to that file
Then the response body should not contain the contents of that file
And the status code should be 404 or 400
```
